Source: thepeg
Section: universe/science
Priority: extra
Maintainer: David Grellscheid <david.grellscheid@durham.ac.uk>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5), autotools-dev, libgsl0-dev
Homepage: http://projects.hepforge.org/thepeg

Package: thepeg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: herwigpp
Description: Toolkit for High Energy Physics Event Generation
 ThePEG is a framework for implementing event generator
 models, and by itself does not contain enough physics models to
 generate realistic events for any collider. Instead programs such as
 Pythia7 or Herwig++ should be installed to allow for proper event
 generation.

